/*font-family: 'Poiret One', cursive;
font-family: 'Quicksand', sans-serif, font-weight:300;*/
:root {
  --main-gradient: linear-gradient(
    to left,
    rgb(0, 0, 0) 0%,
    rgb(35, 80, 90) 100%
  );
  --secondary-gradient: linear-gradient(
    to right,
    rgb(0, 0, 0) 0%,
    rgb(35, 80, 90) 25%,
    rgb(239, 248, 255) 75%
  );
  --primary-color: rgb(35, 80, 90);
  --secondary-color: rgb(239, 248, 255);
}

.container h1 {
  font-size: 30px;
}

nav {
  padding: 15px 5px 5px 5px;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover,
nav li.active a {
  color: goldenrod;
}

.main-profile-picture {
  width: 275px;
  border-radius: 200px;
  border: 4px solid black;
  display: block;
  margin-left: auto;
  margin-top: 22px;
}

h1 {
  font-family: Poiret One;
  font-weight: bolder;
  font-size: 80px;
}

h3 {
  font-family: Quicksand;
  font-weight: 300;
}

.hero {
  margin-top: 0px;
  color: var(--primary-color);
  background: var(--main-gradient);
  padding-bottom: 20px;
  border-top: 5px solid black;
  border-bottom: 20px solid black;
}

.title-content {
  margin-top: 73px;
  color: var(--secondary-color);
}

.btn-title {
  background: black;
  color: white;
  box-shadow: 0px 0px 20px 5px white;
  margin-left: 310px;
  margin-bottom: 8px;
}

.btn-title:hover {
  background: goldenrod;
}

.content-links {
  background: var(--secondary-gradient);
  color: var(--secondary-color);
  margin: 40px 35px;
  border: 8px solid black;
  height: 250px;
}

.subject-link {
  text-decoration: none;
  color: aliceblue;
}

.subject-link:hover {
  color: goldenrod;
}

.link-titles {
  margin: 130px 0 0 20px;
  font-size: 60px;
}

.main-link-images {
  height: 234px;
}

.about-section {
  margin-top: 0px;
  color: var(--primary-color);
  background: var(--main-gradient);
  padding-bottom: 20px;
  border-bottom: 20px solid black;
  display: flex;
  height: 900px;
  text-align: center;
}

.about-section h1,
h3,
p {
  color: aliceblue;
}

.about-section h1 {
  font-size: 48px;
  margin-top: 50px;
}

.about-section h3 {
  font-size: 20px;
}

.about-section p {
  text-align: left;
  padding-left: 15px;
  line-height: 25px;
}

.btn-projects {
  background: black;
  color: white;
  width: 175px;
  box-shadow: 0px 0px 20px 5px white;
  margin-top: 30px;
}

.btn-projects:hover {
  background: goldenrod;
}

.about-portrait-image {
  border-radius: 85px 5px;
  margin-top: 80px;
  padding: 12px;
  border: 5px solid black;
  background-color: aliceblue;
}

.title-content-project {
  margin-top: 73px;
  color: var(--secondary-color);
}

.btn-title-project {
  background: black;
  color: white;
  box-shadow: 0px 0px 20px 5px white;
  margin-left: 70px;
  margin-bottom: 8px;
}

.btn-title-project:hover {
  background: goldenrod;
}

.content-links p {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 18px;
  margin-left: 20px;
}

footer {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

footer .contact-box {
  background-color: var(--secondary-color);
  margin-bottom: 50px;
  padding: 20px;
}

footer h3 {
  color: black;
  font-size: 50px;
}

footer .collab-text {
  color: black;
  padding-left: 90px;
}

footer .btn {
  background: var(--primary-color);
  margin-top: 35px;
  margin-right: 150px;
}

footer .btn:hover {
  background-color: goldenrod;
}

footer .email-link {
  font-family: Quicksand;
  font-weight: 300;
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

footer .email-link:hover {
  color: goldenrod;
  transition: all 150ms ease-in-out;
}

footer .social-links a {
  margin: 0px 10px;
  color: black;
  background-color: var(--secondary-color);
  padding: 10px 13px;
  font-size: 35px;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
}

footer .social-links a:hover {
  color: aliceblue;
  background-color: rgb(115, 144, 153);
  transition: all 150ms ease-in-out;
}

footer .foot-note {
  color: black;
  font-family: Quicksand;
  font-weight: 300px;
}

@media (max-width: 900px) {
  .link-titles {
    text-align: left;
    margin: 180px 0px 0px 5px;
    font-size: 38px;
    width: 200px;
  }
}

@media (max-width: 768px) {
  nav ul {
    display: block;
    margin: auto;
    padding-right: 15px;
  }

  .content-links {
    margin: 25px 25px;
    height: 150px;
  }

  .hero {
    height: 255px;
    column-count: 2;
    padding: 0px;
  }

  .link-titles {
    text-align: left;
    margin: 45px 0px 0px 5px;
    font-size: 30px;
    width: 200px;
  }

  .main-profile-picture {
    width: 180px;
    border-radius: 200px;
    border: 4px solid black;
    display: block;
    margin: 25px 0px 0 8px;
    padding: 0px;
  }

  .title-content {
    margin: 50px 40px 0px 0;
    color: var(--secondary-color);
    padding: 0px;
    height: 230px;
  }

  .content-links p {
    margin-left: 5px;
    font-size: 15px;
  }

  h1 {
    font-size: 40px;
    text-align: left;
  }

  h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .btn-title {
    background: black;
    color: white;
    box-shadow: 0px 0px 10px 1px white;
    margin: 10px 0 0 25px;
    font-size: 10px;
  }

  .about-section {
    height: 1050px;
  }

  .about-section h1 {
    font-size: 39px;
    margin-top: 50px;
    text-align: center;
  }

  .about-section p {
    text-align: center;
    padding-right: 20px;
  }

  .btn-projects {
    margin-bottom: 15px;
  }

  .btn-title-project {
    background: black;
    color: white;
    box-shadow: 0px 0px 10px 1px white;
    margin: 10px 0 0 25px;
    font-size: 10px;
  }

  .about-footer {
    margin-top: 540px;
    margin-bottom: 0px;
  }

  footer .contact-box {
    background-color: var(--secondary-color);
    margin-bottom: 10px;
    padding: 10px 5px;
  }

  footer h3 {
    color: black;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: bold;
  }

  footer .collab-text {
    color: black;
    padding-left: 10px;
    font-size: 15px;
  }

  footer .btn {
    background: var(--primary-color);
    margin-top: 45px;
    margin-right: 30px;
    font-size: 20px;
    width: 140px;
  }
}
